* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*MY GOOGLE FONT STYLES*/
.bai-jamjuree {
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*MY CSS CUSTOM PROPERTIES*/
:root {
  --btn-iOS-color: hsl(171, 66%, 44%);
  --btn-Mac-color: hsl(233, 100%, 69%);
  --header-text-color: hsl(210, 10%, 33%);
  --page-text-color: hsl(201, 11%, 66%);
}

/*MY CSS STYLES*/
.standard-page-style {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  font-size: 18px;
  color: var(--page-text-color);
  line-height: 1.6;
}

.header {
  background-image: url(images/bg-header-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  padding-top: 5rem;
}

.header img {
  padding-bottom: 1.5rem;
}

.header h1 {
  padding-inline: 5px;
}

.section-header {
  font-weight: 600;
  color: var(--header-text-color);
}

.section-content {
  max-width: 650px;
  margin: 0 auto;
  padding-bottom: 3rem;
}

/*BUTTON STYLES*/
.btn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
  color: #fff;
}

.download-btn {
  padding: .5rem 2rem;
  border-radius: 50px;
  background-color: var(--btn-iOS-color);
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.download-btn-Mac {
  background-color: var(--btn-Mac-color);
}

.download-btn:hover {
  cursor: pointer;
  font-weight: 800;
  transform: translate(5px, -10px);
  box-shadow: 5px 2px 15px hsl(51, 100%, 80%);
}

.functionality-section {
  width: 90%;
  margin: 5rem auto 0;
}

.functions-container {
  display: flex;
  flex-wrap: wrap;
  gap: 7rem;
  margin-top: 1rem;
}

.functions-container img {
  width: 650px;
  margin-left: -6rem;
}

.functions-content {
  max-width: 380px;
  padding-top: 1.5rem;
  text-align: left;
}

.functions-content p {
  margin-bottom: 3.5rem;
}

/*ACCESSIBILITY SECTION*/
.accessibility-section, .tools-section {
  width: 90vw;
  margin-top: 5rem;
  margin-inline: auto;
}

.accessibility-section img {
  width: 800px;
}

.tools-section {
  margin-top: 5rem;
}

.tools-wrapper {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.tool-container {
  max-width: 400px;
}

/*PARTNERS SECTION*/
.partners-section {
  width: 80vw;
  margin: 9rem auto 0;
  display: flex;
  justify-content: space-around;
}

/*DOWNLOAD CLIPBOARD SECTION*/
.download-clipboard-section {
  width: 90vw;
  margin-block: 9rem 4rem;
  margin-inline: auto;
}

/*FOOTER SECTION*/
.footer-section, footer {
  width: 100vw;
  padding-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  background-color: hsl(201, 11%, 96%);
  color: var(--header-text-color);
  text-align: left;
}

.footer-logo {
  margin-left: 4rem;
  width: 50px;
  height: 50px;
}

.footer-content {
  display: flex;
  gap: 6rem;
}

.footer-content p {
  margin-bottom: 1rem;
}

.footer-link {
  text-decoration: none;
  color: var(--header-text-color);
}

.footer-link:hover {
  color: var(--btn-iOS-color);

}

.social-icons {
  display: flex;
  gap: 1.5rem;
  margin-right: 4rem;
}

.social-link i {
  color: var(--header-text-color);
  font-size: 30px;
}

.social-link i:hover {
  color: var(--btn-iOS-color);
}

footer {
  justify-content: flex-end;
  padding-block: 0 .5rem ;
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding-right: 10px;
}
    
.attribution a {
  color: hsl(228, 45%, 44%);
  text-underline-offset: 2px;
}

.attribution a:hover {
  font-size: 12px;
  color: var(--btn-iOS-color);
  text-decoration-color: var(--header-text-color);
  text-decoration-line: 3px;
}

/*DOWNLOAD HTML PAGE STYLES*/
.maintenance-info, .countdown-intro {
  padding-inline: 15px;
}

.countdown-intro {
  margin-top: .5rem;
}

.countdown-time {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-block: 2rem 4rem;
  padding-inline: 5px;
  color: var(--header-text-color);
  font-weight: 600;
}

.time {
  width: 8rem;
  height: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 4px solid hsl(201, 11%, 70%);
  border-radius: 50%;
}

.back-to-home-section {
  margin-bottom: 5rem;
}

.back-to-home-btn {
  text-decoration: none;
  padding: .8rem 2.5rem;
  border-radius: 50px;
  background-color: var(--btn-iOS-color);
  color: #fff;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.back-to-home-btn:hover {
  cursor: pointer;
  font-weight: 800;
  box-shadow: 5px 2px 15px hsl(201, 11%, 50%);
}


/* MEDIA QUERIES */
@media (max-width: 1250px) {
  .standard-page-style {
    font-size: 22px;
  }

  .header {
    background-image: url(images/bg-header-mobile.png);
  }

  .btn-container {
    margin-block: 5rem 4rem;
    gap: 2rem;
  }

 .download-btn-iOS, .download-btn-Mac {
  flex-basis: 85%;
  padding-block: 1.5rem;
 }

 .functions-container {
  justify-content: center;
  margin-bottom: 4rem;
 }

 .functions-container img {
  width: 85vw;
  margin-left: 0;
 }

 .functions-content {
  padding-top: 0;
  text-align: center;
 }

 .accessibility-section img {
  width: 85vw;
  margin-top: 2rem;
 }

 .tools-wrapper {
  margin-top: 3rem;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
 }

 .partners-section {
  padding-top: 4rem;
  flex-direction: column;
  width: 60vw;
  max-width: 300px;
  gap: 5rem;
 }

 .download-clipboard-section h2 {
  max-width: 350px;
  margin: 0 auto;
 }

 .footer-content, .footer-content p, .footer-logo {
  display: block;
  margin: 0 auto 2rem;
 }

 .social-icons {
  margin: 0 auto 3rem;
  gap: 1rem;
 }
 
 .footer-section {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
 }

 footer {
  justify-content: center;
 }
}

@media (max-width: 700px) {
  .time {
    width: 7rem;
    height: 7rem;
  }
}

@media (max-width: 560px) {
  .time {
    width: 5rem;
    height: 5rem;
    font-size: 15px;
  }
}

@media (max-width: 500px) {
  .standard-page-style {
    font-size: 16px;
  }

  footer {
    font-size: 10px;
    padding-bottom: .4rem
  }

  .attribution-secondary {
    display: block;
  }
}

@media (max-width: 450px) {
  .countdown-time {
    gap: 7px;
  }

  .time {
    width: 3.5rem;
    height: 3.5rem;
    font-size: 12px;
    font-weight: 500;
    border-radius: 15px;
  }
}

@media (max-width: 350px) {
  .download-btn {
  flex-basis: 87%;
  padding: .5rem;
  font-size: 15px;
 }
}

@media (max-width: 275px) {
  .countdown-time {
    gap: 3px;
  }

  .time {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 5px;
  }
}